#!/bin/bash

export RGROUP=xxxxxxxxxxxx
export REGION=xxxxxxxxxxxx

export ACR_LOGIN_SERVER=xxxxxxx.azurecr.io
export ACR_USER=xxxxxxxxxx
export ACR_PASSWORD=xxxxxxxxx

export DEMO_IMAGE=yyyyyyyyy:NN
export DEMO_PORT=8080
export DEMO_NAME=aci-demo-yourname
